﻿
@{
    ViewBag.Title = "Calendar";
}

@section calendar
    {
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events:[                    {
                    title: 'Self-Defense Course',
                    start: '2017-05-01T19:00:00',
                    end: '2017-05-01T21:00:00'
                },
                {
                title: 'Self-Defense Course',
            start: '2017-05-08T19:00:00',
            end: '2017-05-08T21:00:00'
        },
        {
        title: 'Self-Defense Course',
        start: '2017-05-15T19:00:00',
        end: '2017-05-15T21:00:00'
        },
        {
            title: 'Self-Defense Course',
            start: '2017-05-22T19:00:00',
            end: '2017-05-22T21:00:00'
        },
        {
            title: 'Self-Defense Course',
            start: '2017-05-29T19:00:00',
            end: '2017-05-29T21:00:00'
        },
        {
            title: 'Self-Defense Course',
            start: '2017-06-05T19:00:00',
            end: '2017-06-05T21:00:00'
        },
        {
            title: 'Hulk - AngerMangement',
            start: '2017-05-04T19:30:00',
            end: '2017-05-04T21:30:00'
        },
        {
            title: 'Batman - CaveConst',
            start: '2017-05-11T19:30:00',
            end: '2017-05-11T21:30:00'
        },
        {
            title: 'Ironman - Self-Awareness',
            start: '2017-05-18T19:30:00',
            end: '2017-05-18T21:30'
        },
        {
            title: 'Dr.Strange - Astral Projection',
            start: '2017-05-25T19:30:00',
            end: '2017-05-25T21:30:00'
        },
        {
            title: 'DP - Chimichangas',
            start: '2017-06-01T19:30:00',
            end: '2017-06-01T21:30:00'
        },
        {
            title: 'StanLee - Characters',
            start: '2017-06-08T19:30:00',
            end: '2017-06-08T21:30:00'
        },
        {
            title: 'Villains Anonymous Meeting',
            start: '2017-05-20T18:00:00',
            end: '2017-05-20T21:00:00'
        }
                ]
        })

        });</script>
}


<div id="calendar"></div>