﻿@{ ViewBag.Title = "Home";}

<!DOCTYPE html>
<html lang="en">
<body>



    <br />
    <h1 class="text-center">Our Mission</h1>
    <br />
    <p class="text-center more-margins" id="mission">Our mission is to provide protection against villains and educate our community about safety. We hope to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness.</p>
    <br /><br />
    <article class="post">
        <header class="article-title text-center">
            <h2>My Favorite Spiderman Movie</h2>
            <p class="post-meta">by Ratul Ahmed  @@ 09th May</p>
        </header>

        <div class="article-featured-content shadow-z-2 image-margin">
            <img class="img-responsive" src="~/img/post-1.jpg" alt="PARKER! BRING ME PICTURES, PICTURES OF SPIDER-MAN!">
        </div>

        <div class="post-summary">
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </article>

</body>
</html>