﻿@model SHInc.DATA.Alignment

@{
    ViewBag.Title = "Details Alignment";
}

<h2>Details</h2>

<div>
    <h4>Alignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlignmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlignmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlignmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
