﻿@model SHInc.DATA.Character

@{
    ViewBag.Title = "Detail Characters";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignment1.AlignmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment1.AlignmentName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin")) {@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @Html.Raw("|") }
    @Html.ActionLink("Back to List", "Index")
</p>
