﻿@model IEnumerable<SHInc.DATA.Character>

@{
    ViewBag.Title = "Characters";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin")) { @Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alignment1.AlignmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alignment1.AlignmentName)
        </td>
        <td>
            @if (User.IsInRole("Admin")) { @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @Html.Raw(" |")}
            @Html.ActionLink("Details", "Details", new { id=item.ID })
            @if (User.IsInRole("Admin")) { @Html.Raw("| ") @Html.ActionLink("Delete", "Delete", new { id = item.ID })}
        </td>
    </tr>
}

</table>
